In [1]:
import numpy as np
import pandas as pd

data = pd.read_json('data.json')
# df = pd.DataFrame(data)

# data

In [78]:
# We'll access restaurants and do a function on each object and replace it
df = pd.DataFrame(data)
def expenses(val):
    # print(val)
    obj = val
    obj = obj['restaurants']
    # print(obj)
    cost = 10000000000
    cnt = 0
    
    
    for restaurant in obj:
        # print(restaurant)
        
        if('cost' in obj[restaurant]):
            if(type(obj[restaurant]['cost']) == list):
                # print(obj[restaurant]['cost'])
                try:
                    cost = min(cost,int(obj[restaurant]['cost'][-1]))

                    # print(int(obj[restaurant]['cost'][-1]))
                    cnt = cnt+1
                except:
                    continue
            else:
                obj[restaurant]['cost'] = obj[restaurant]['cost'].split()
                try:
                    cost = min(cost,float(obj[restaurant]['cost'][-1]))
                    cnt = cnt+1
                except:
                    continue
                    # print(obj[restaurant]['cost'][-1])
        elif('price' in obj[restaurant]):
           
            print(obj[restaurant])
            str = obj[restaurant]['price'].split()
            str = str[0]
            str = str.replace("â‚¹","")
            cost  = min(cost,float(str))
            cnt = cnt+1
        

    # print(cost)

    if(cost ==10000000000 ) :
        return np.nan
    else:
        return cost
# data
# df2 = df2.drop('link')
df2 = df
df2 = df2.drop('link')
df2 = df2['Delhi']
df2 = df2.dropna()
df2 = pd.DataFrame(df2)
# print(df2)
# for i in range(0,len(df2.index)):
#     df2 = df.iloc[i].apply(expenses)
df3 = df2['Delhi'].apply(expenses)

In [80]:
df3 = df3.dropna()
df3 = pd.DataFrame(df3)
df3

                     Delhi
GTB Nagar              2.0
Jasola               100.0
Greater Noida        300.0
Mayur Vihar           10.0
BBK_MayurVihar       300.0
Laxmi Nagar           20.0
Punjabi Bagh         100.0
Old Delhi            100.0
Khan Market          100.0
Greater Kailash 2     50.0
Ashok Vihar            2.0
Noida Expressway     300.0
South Extension       50.0
Greater Kailash New  100.0
Vasant Kunj          100.0
Uttam Nagar            2.0
Dilshad Gardens        1.0
Connaught Place      100.0
South Campus          60.0
Rohini                 2.0
BBK_Chattarpur       800.0
Chattarpur            70.0
Lajpat Nagar           1.0
Kirti Nagar            2.0
Indirapuram           20.0
Dwarka                20.0
Rajouri Garden        70.0
NSP                   50.0
Malviya Nagar          2.0
Sector 18            200.0

In [82]:
df3 = df3.sort_values(by = 'Delhi')
df3[:1]
# Problem 9 solved

              Delhi
Lajpat Nagar    1.0

Which SubRegion in Delhi is having the least expensive restaurant in terms of cost?

Lajpat Nagar is the subregion is having the least expensive restaurant in terms of cost