In [2]:
import numpy as np
import pandas as pd

data = pd.read_json('data.json')
# data

In [3]:
df = pd.DataFrame(data)
df.head()

,Abohar,Adilabad,Adityapur,Adoni,Agartala,Agra,Ahmedabad,Ahmednagar,Aizawl,Ajmer,...,Vizag,Vizianagaram,Vyara,Waidhan,Warangal,Wardha,Washim,Wayanad,Yamuna-nagar,Yavatmal
link,https://www.swiggy.com/city/abohar,https://www.swiggy.com/city/adilabad,https://www.swiggy.com/city/adityapur,https://www.swiggy.com/city/adoni,https://www.swiggy.com/city/agartala,https://www.swiggy.com/city/agra,{'link': 'https://www.swiggy.com/city/ahmedaba...,https://www.swiggy.com/city/ahmednagar,https://www.swiggy.com/city/aizawl,https://www.swiggy.com/city/ajmer,...,"{'link': 'https://www.swiggy.com/city/vizag', ...",https://www.swiggy.com/city/vizianagaram,https://www.swiggy.com/city/vyara,https://www.swiggy.com/city/waidhan,https://www.swiggy.com/city/warangal,https://www.swiggy.com/city/wardha,https://www.swiggy.com/city/washim,https://www.swiggy.com/city/wayanad,https://www.swiggy.com/city/yamuna-nagar,https://www.swiggy.com/city/yavatmal
restaurants,"{'567335': {'name': 'AB FOODS POINT', 'rating'...","{'224008': {'name': 'Sharma Bakery', 'rating':...",{'321587': {'name': 'Kwality Walls Frozen Dess...,"{'146227': {'name': 'KKFC', 'rating': '3.8', '...",{'227061': {'name': 'Gujrat Hotel and Restaura...,{'74562': {'name': 'Bhagat Halwai (Dayal Bagh)...,NaN,{'245744': {'name': 'Noodles Bar Family Restau...,"{'454727': {'name': 'Amaterasu Oriental Food',...","{'221806': {'name': 'Chamunda Restaurant', 'ra...",...,NaN,"{'321780': {'name': 'Alankar's red chilli', 'r...","{'497247': {'name': 'La Pino'Z Pizza', 'rating...",{'472751': {'name': 'HOTEL SHARDA PALACE AND R...,"{'547809': {'name': 'THEOBROMA', 'rating': '4....","{'276160': {'name': 'FOOD FEAST RESTAURANTS', ...","{'478256': {'name': 'Cafe Night 11', 'rating':...",{},{'154861': {'name': 'Lucky The Chicken Corner'...,"{'141318': {'name': 'Ekvira Restaurant', 'rati..."
Vastrapur,NaN,NaN,NaN,NaN,NaN,NaN,{'link': 'https://www.swiggy.com/city/ahmedaba...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GOTA,NaN,NaN,NaN,NaN,NaN,NaN,{'link': 'https://www.swiggy.com/city/ahmedaba...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Paldi & Ambawadi,NaN,NaN,NaN,NaN,NaN,NaN,{'link': 'https://www.swiggy.com/city/ahmedaba...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# We'll access restaurants and do a function on each object and replace it
df = pd.DataFrame(data)
def expenses(val):
    # print(val)
    obj = val
    cost = 0
    cnt = 0
    if(type(obj) == float):
        return 0
    
    for restaurant in obj:
        # print(obj[restaurant])
        cnt = cnt+1
    return cnt
        
    

df2 = df.iloc[1].apply(expenses)

In [11]:
df2 = pd.DataFrame(df2)
df2

              restaurants
Abohar                 63
Adilabad               25
Adityapur             357
Adoni                  37
Agartala              166
...                   ...
Wardha                 97
Washim                 25
Wayanad                 0
Yamuna-nagar          178
Yavatmal               66

[623 rows x 1 columns]

In [13]:
# Name of top 5 cities with the highest number of restaurants listed.
df2 = df2.sort_values(by = 'restaurants' , ascending = False)
df2[:5]

           restaurants
Bikaner           1673
Sirsa             1659
Sultanpur         1430
Noida-1           1428
Patna              745

In [14]:
df2 = df2.sort_values(by = 'restaurants' , ascending = False)
df2[:10]

           restaurants
Bikaner           1673
Sirsa             1659
Sultanpur         1430
Noida-1           1428
Patna              745
Varanasi           646
Kanpur             636
Faridabad          636
South-goa          586
North-goa          585

Name of top 5 cities with the highest number of restaurants listed.

Bikaner	

Sirsa	

Sultanpur	

Noida-1	

Patna	

Top 10 cities as per the number of restaurants listed?

Bikaner	

Sirsa	

Sultanpur	

Noida-1	

Patna	

Varanasi	

Kanpur	

Faridabad	

South-goa	

North-goa